html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/* шрифт */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url(/CRM/fonts/OpenSansBold.woff2) format('woff2'),
    url(/CRM/fonts/OpenSansBold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url(/CRM/fonts/OpenSansRegular.woff2) format('woff2'),
    url(/CRM/fonts/OpenSansRegular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-SemiBold.eot');
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url(/CRM/fonts/OpenSansSemiBold.woff2) format('woff2'),
    url(/CRM/fonts/OpenSansSemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

/* цвета */

:root {
  --black: #333333;
  --txt_grey: #B0B0B0;
  --grey: #C8C5D1;
  --firm: #9873FF;
  --red: #F06A4D;
  --orange: #E6B127;
  --green: #34C759;
  --white: #FFFFFF;
  --wild-sand:#F5F5F5;
  --gap: 32px;
}


body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background: #F5F5F5;
}





/* header {

  padding: 20px;
} */

tbody {
  background: white;
}

/* общие настройки */

.hidden{
  display: none;
  visibility: hidden;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 1px 90px;
}

/* header */
header{
  background: var(--white);
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}
.header__container {
padding: 20px;
  display: flex;
 align-items: center;

}

.header__logo {
  margin-right: 40px;
}

.header__form{
  width: 100%;
}

.header__input {
  margin: 3px;
  width: 60%;
  border-radius: 0%;
}

.header__input::placeholder{
color: var(--txt_grey);
}

/* main */

main {
  padding: 20px;
  background: #E5E5E5;
}

.main__title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--black);
}

/* таблица */
.table tr {
  padding: 12px 10px;
  border-top: 1px solid #dee2e6;
}

.table td {
  padding: 10px;
  vertical-align: inherit;
  border-top:none;
}
/* заголовки */

.table__heard--col{
cursor: pointer;
}

.table__heard--descr {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--txt_grey);
}

.table__heard--col.active .heard__svg-arrow{
  transform: rotate(-180deg);
}

.table__heard--col.active .heard__svg-letters{
  transform: rotate(90deg);
}

/* тело таблицы */

.table__body{
  position: relative;
}

.table__body-id {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--txt_grey);
}

.table__body-fio {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.table__body-createdat {
  display: flex;
}

/* .table__body-updatedat{
  display: flex;
} */

.table__body-date {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.table__body-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--txt_grey);
}

.btn-change {
  display: flex;
  margin-right: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  cursor: pointer;
  transition: color .5s;
}

.btn-change::before {
  content: '';
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(/CRM/img/edit.svg);
}

.btn-change.loading .btn-change::before {
  display: none;
}

.btn-change:focus,
.btn-change:hover,
.btn-change:active{
color: var(--firm);
}

.btn-delete {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  cursor: pointer;
  transition: color .5s;
}

.btn-delete::before {
  content: '';
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(/CRM/img/cancelred.svg);
}

.btn-delete:focus,
.btn-delete:hover,
.btn-delete:active{
color: var(--red);
}

/* модальное окно "Удалить" */

.modal__delete-element {
  position: fixed;
  display: grid;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s visibility .5s;
}
.modal__delete-element.open {
  visibility: visible;
  opacity: 1;
}

.modal__delete-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  min-height: 215px;
  padding: 22px 90px;
  margin: 30px 15px;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  transition: transform .8s;
}

.modal__delete-element.open .modal__delete-content{
  transform: scale(1);
}

.modal__delete-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--black);
}

.modal__delete-text {
  margin-top: 11px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.modal__delete-btn {
  padding: 12.5px 35px;
  background: var(--firm);
  color: var(--white);
  border: none;
  margin-bottom: 5px;
  transition: background .5s border .5s cursor .5s;
}

.modal__delete-btn:focus {
  background: #B89EFF;
  border: 1px solid #9873FF;
  outline: none;
}

.modal__delete-btn:hover {
  background: #B89EFF;
  border: 1px solid #9873FF;
  cursor: pointer;
}

.modal__delete-btn:active {
  background: #8052FF;
  border: 1px solid #9873FF;
  cursor: pointer;
}

.modal__delete-cencel {
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: var(--black);
}



/* кнопка внизу */

.main__button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 14px 26.5px;
  height: 44px;
  border: 1px solid var(--firm);
  cursor: pointer;
}

.main__button::before {
  content: "";
  margin-right: 16px;
  flex-shrink: 0;
  width: 22px;
  height: 16px;
  background-color: var(--white-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/CRM/img/Vector\ \(1\).svg);
}

.button__content {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: var(--firm);
}

/* модальное окно */

.modal-add{
  position: fixed;
  display: grid;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s visibility .5s;
}

.modal-client{
  position: relative;
  max-width: 450px;
  min-height: 400px;
  /* padding: 24px 30px; */
  margin: 30px 15px;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  transition: transform .8s;
}

.modal__btn-close {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  background-image: url(/CRM/img/Frame\ 339.svg);
  background-repeat: no-repeat;

}

.modal__btn-close:focus {
  outline: none;
}

.modal__btn-close svg path {
  transition: fill .5s;
}

.modal__btn-close:focus svg path {
  fill: var(--firm);
}

.modal__btn-close:hover svg path {
  fill: var(--firm);
}

.modal__btn-close:active svg path {
  fill: var(--black)
}

.modal-add.open {
  visibility: visible;
  opacity: 1;

}

.modal-add.open .modal-client {
  transform: scale(1);
}

.modal__title {
  display: flex;
  align-items: baseline;
  margin: 24px 30px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--black);
}

.modal__title-id {
  margin-left: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--txt_grey);
}

/* форма в модальном окне */
.modal__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__form-fio {
  margin: 20px 30px;
}

.modal__input {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  border: none;
  border-bottom: 1px solid var(--grey);
}

.modal__input:focus {
  outline: none;
}

#error {
  border-bottom: 1px solid var(--red);
}


.modal__placeholder {
  z-index: 100;
  left: 10px;
  cursor: text;
  position: absolute;
  top: -10px;
  left: 5px;
  width: 100%;
  display: inline;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--txt_grey);
  transition: top .5s font-size .5s line-height .5s;
}

.modal__field input:invalid+.modal__placeholder {
  top: 1px;
  font-size: 14px;
  line-height: 19px;
}

.modal__field {
  margin: 0;
  margin-top: var(--gap);
  position: relative;
  width: 100%;
  /* overflow: hidden; */
}

.modal__field:first-child {
  margin-top: 0;
}

.modal__placeholder span {
  color: var(--firm);
}


/* .modal__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--txt_grey);
} */

.modal__contact {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 8px;
  background: rgba(200, 197, 209, 0.3);
  transition: cursor .5s
}

.modal__contact:focus {
  cursor: pointer;
}

.modal__contact:hover {
  cursor: pointer;
}







.modal__contact-text {
  position: relative;
  max-width: 150px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  transition: color .5s;
}

.modal__contact-text::before {
  content: "";
  position: relative;
  left: 0px;
  top: 2px;
  width: 16px;
  height: 16px;
  padding-right: 18px;
  background-image: url(/CRM/img/add_circle_outline.svg);
  background-repeat: no-repeat;
  transition: background-image .5s;
}

.modal__contact-text:active {
  color: var(--firm);
}

.modal__contact-text:active .modal__contact-text::before {
  background-image: url(/CRM/img/add_circle_active.svg);
}

/* .modal__contact-text#grey::before {
  opacity: 0;
} */


.modal__error {
  display: none;
  padding: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: var(--red);
}

.modal__error.active{
  display: block;
}


.modal__btn-save {
  padding: 12.5px 35px;
  background: var(--firm);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid var(--firm);
  transition: background .5s border .5s cursor .5s;
}

.modal__btn-save:focus {
  background: #B89EFF;
  border: 1px solid #9873FF;
  outline: none;
}

.modal__btn-save:hover {
  background: #B89EFF;
  border: 1px solid #9873FF;
  cursor: pointer;
}

.modal__btn-save:active {
  background: #8052FF;
  border: 1px solid #9873FF;
  cursor: pointer;
}


.modal__link {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: var(--black);
  cursor: pointer;
}

/* Контакты */

/* селект и импут */

.modal__contact-add {
  margin-bottom: 15px;
  display: flex;
  width: 390px;
}

.modal__contact-add:first-child{
  margin-top: 25px;
}

.modal__contact-enter {
  width: 48%;
  border-radius: 0%;
  border: 1px solid var(--grey);
}

.modal__contact-enter:focus {
  outline: none;
}

.modal__contact-enter::placeholder {
  padding-left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--txt_grey);
}

.modal__contact-select {
  width: 100%;
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  min-height: 37px;
  background: #E7E5EB;
  border: 1px solid var(--grey);
  border-right: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--black);
}

/* modal__contact-select */

.modal__contact-content {
  position: relative;
  width: 42%;
}

.modal__contact-content::after {
  content: '';
  display: block;
  position: absolute;
  top: 17px;
  right: 1rem;
  z-index: 1;
  height: 12px;
  width: 12px;
  background-image: url(/CRM/img/arrow_back_ios.svg);
  transition: transform .3s ease-in-out;
}

.modal__contact-content.active::after{
  transform: rotate(-180deg);
  transition: transform .3s ease-in-out;
}

/* иконки кнопок в таблице */
.table__body-contacts {
  display: flex;
  flex-direction: column;
}

.contacts__icon-group1,
.contacts__icon-group2 {
  display: flex;
}

.contacts__icon-group1 {
  margin-bottom: 7px;
}

.contacts-icon {
position: relative;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.contacts-icon:not(:last-child) {
  margin-right: 7px;
}

.tel {
  background-image: url(/CRM/img/phone.svg);
}

.email {
  background-image: url(/CRM/img/mail.svg);
}

.vk {
  background-image: url(/CRM/img/vk\ \(1\).svg);
}

.fb {
  background-image: url(/CRM/img/fb.svg);
}

.last-icon {
  position: relative;
  background-image: url(/CRM/img/lasticon.svg);
}

.contacts__icon-number {
  position: absolute;
  top: 20%;
  left: 20%;
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  color: var(--black);
  cursor: pointer;
}


/* добавляем кнопку */

.modal__contact-button {
  position: relative;
  width: 10%;
  background: #E7E5EB;
  background-image: url(/CRM/img/cancel.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #C8C5D1;
  transition: background-image .5s border .5s;
}


.modal__contact-button:focus,
.modal__contact-button:hover,
.modal__contact-button:active {
  background-image: url(/CRM/img/cancelred.svg);
  border: 1px solid var(--red);
  outline: none;
  cursor: pointer;
}


.btn-group {
  display: flex;
}


/* тултипы */

.tooltip{
  position: absolute;
  top: -41px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out ;
  padding: 7px 14px;
  background-color: var(--black);
  color: var(--white);
z-index: 10;
}
/* стрелочка внизу тултипа */
.tooltip::before{
content: "";
position: absolute;
bottom: -9px;
left: 50%;
width: 14.39px;
height: 14.39px;
transform: translateX(-50%);
clip-path: polygon(49% 100%, 0 0, 100% 0);
background-color: var(--black);

}

.modal__contact-button:hover .tooltip{
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out ;
}
.modal__contact-button .tooltip{
  min-width: 150px;
}

.contacts-icon:hover .tooltip{
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out ;
}

.contact__tooltip {
  display: flex;
}

.contact__tooltip-type{
display: block;
color: var(--white);
}

.contact__tooltip-value{
  display: block;
  text-decoration: underline;
  font-weight: 700;
  color: var(--firm);
}

/* Прелоадер */

.preloader-block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.preloader-block.start {
  width: 100%;
  height: 100vh;
}

.preloader-block.loading{
  opacity: 1;
  visibility: visible;
}



.preloader-block.change {
  width: 16px;
  height: 16px;
}

.preloader-block.change .lds-ring {
  width: 16px;
  height: 16px;
}

.preloader-block.change .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  margin: 1px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--firm) transparent transparent transparent;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--firm) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* стили для строки поиска */

.header__inner{
  position: relative;
  width: 100%;
}

.header__list{
  list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    max-width: 581px;
    top: 47px;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: var(--white);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.header__link{
  margin-bottom: 5px;
  border-bottom: 1px solid var(--grey);
}
